.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: calc(75% - 25px); */
  margin-bottom: 15px;
  border-bottom: 3px solid #3f3f42;
}

.light {
  composes: header;
  border-bottom: 3px solid #dadada;
}

.dark {
  composes: header;
  border-bottom: 3px solid #3f3f42;
}

.header h1 {
  margin-bottom: 0;
  border-bottom: none;
}

@media (max-width: 1100px) {
  .header {
    width: 100%;
  }
}

@media (max-width: 690px) {
  .header button {
    display: none;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header h1 {
    font-size: 1.6rem;
  }

  .header > div {
    display: none;
  }
}
