.inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.inner > div {
  margin-bottom: 0;
}

.inner > div:first-child {
  width: calc(68% - 10px);
  margin-right: 10px;
}

.inner > div:last-child {
  width: calc(32% - 10px);
  margin-left: 10px;
}

.social-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* github button */
.social-buttons > div:first-child {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .inner > div:first-child {
    width: 100%;
    margin-right: 0;
  }

  .inner > div:last-child {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media (max-width: 690px) {
  .inner {
    width: 100%;
  }
}
